<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TISIntendedLanguage</key>
	<string>zh-Hans</string>
	<key>tsInputMethodIconFileKey</key>
	<string>TsuruTrayIcon.png</string>
	<key>LSBackgroundOnly</key>
	<true/>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>Hans</string>
	</array>
	<key>InputMethodServerControllerClass</key>
	<string>$(PRODUCT_MODULE_NAME).TsuruInputController</string>
	<key>InputMethodConnectionName</key>
	<string>org.uwu.inputmethod.Tsuru_Connection</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
</dict>
</plist>
